{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% for post in posts %}
        <a href="{{ path('post_index', {id : post.id}) }}">{{ post }}</a> <br>
    {% else %}
        No results!
    {% endfor %}
</div>
{% endblock %}
