{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% for category in category %}
        <h6><a href="{{ path('category_index', {id : category.id}) }}">{{ category.name }}</a></h6>
    {% endfor %}

</div>
{% endblock %}
