{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        {{ dump(posts) }}
        {% for post in posts %}
            <div class="form-group">
                <input type="email" class="form-control" readonly id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{ post.title }}">
            </div>
            <div class="form-group">
                <textarea class="form-control" id="exampleFormControlTextarea1" readonly rows="3">{{ post.text }}</textarea>
            </div>
            <div class="form-group">
                <input class="form-control" type="datetime-local" readonly value="{{ post.createdat|date('d-m-Y') }}" id="example-datetime-local-input">
            </div>
             Created by:  {{ post.user }}<br>
             Date: {{ post.createdat|date('d-m-Y') }}<br><br>
            Last updated at: {% if post.createdat == post.updatedat %}--{% else %} {{ post.updatedat|date('d-m-Y') }} {% endif %}<br><br>
            {% if app.user == true %}
                {% if app.user.id == post.user.id %}
                    <a href="{{ path('post_edit', {id : post.id}) }}"><button type="button" class="btn btn-info">edit</button></a>
                {% endif %}
            {% endif %}
        {% endfor %}


        comments<br>
        ----------------------------------------------
        {% for comment in comments %}<br>
            {{ comment.user }}:
            {{ comment.text }}
        {% endfor %}


        {% if app.user == true %}{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        <h6>{{ form_widget(form) }}</h6>
    {{ form_end(form) }}
        {% else %}
           <br><br> Please log in to comment!
        {% endif %}
    </div>
{% endblock %}
